html,body{
    height: 100%;
    width: 100%;
    position: relative;
}

#wrapper{
    width: 320px;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#logo{
    width: 50%;
}

#name{
    font-size: 30px;
}

#your_number{
    border: 2px solid red !important;
}

#your_number_label{
    background-color: red !important;
}

.station{
    margin: 10px 40px 10px 40px;
    border-radius:10px;
    cursor: pointer;
}

.station_label{
    margin: 0;
    padding: 10px;
    color: white;
    text-align: left;
}

.station_number{
    font-size: 40px;
    margin: 10px 0 10px 0;
    text-align: right;
    padding-right: 10px;
}

#modal_1{
    width: 250px;
}

.modal_1_tag{
    margin-bottom: 5px;
}

textarea:focus, input:focus{
    outline: none;
}

#client_name{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
}

#client_purpose{
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
}

#modal_1_submit_button{
    margin-top:10px;
    display: block;
    width: 100%;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#modal_1_header_text{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: white;
}

#modal_1_error{
    color:red;
    font-size: 12px;
    font-style: italic;
}